{% extends "base.html" %} {% block content %}
<div>
	<ul class="book-list list-headings">
		<li class="list-title">Title</li>
		<li class="list-author">Author</li>
		<li class="list-genre">Genre</li>
	</ul>

	{% for book in all_books %}
	<ul class="book-list-data">
		<li class="list-title">
			<a href="/books/{{book.id}}">{{ book.title }}</a>
		</li>
		<li class="list-author">
			{{ book.author.first_name}} {{book.author.last_name}}
		</li>
		<li class="list-genre">{{ book.genre }}</li>
	</ul>
	<hr />
	{% endfor %}
</div>

{% endblock %}
