{% extends "base.html" %} {% block content %}
<div class="single-book">
	<h1 class="single-title">{{show_book.title}}</h1>
	{% for author in authors %} {% if author.id == show_book.author %}
	<h2>{{ author.first_name }} {{author.last_name}}</h2>
	{% endif %} {% endfor %}
	<h4>{{show_book.genre}}</h4>
	<h4 class="delete-q">Delete book from list?</h4>
	<form
		class="delete-form"
		action="/books/{{show_book.id}}/delete"
		method="POST"
	>
		<button class="delete-button"><i class="fa-solid fa-xmark"></i></button>
	</form>
</div>
{% endblock %}
